<!-- Modal -->
<div class="modal fade" id="contactInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="x" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Info</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 small-margin-bottom">
            <img src="/images/imac-map.png" width="300px">
          </div>
          <div class="col-md-4">
            <p>Chris Rayment</p>
            <p>Cell : 647-408-3357</p>
            <p>chris.rayment@hotmail.com</p>
            <p>20 Princeton Road</p>
            <p>Etobicoke, ON</p>
            <p>M8X 2E2</p>
          </div>
          <!--<div class="col-md-6 right">
            <section id="cd-google-map">
              <div id="google-container"></div>
              <div id="cd-zoom-in"></div>
              <div id="cd-zoom-out"></div>
            </section>
          </div>-->
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>