<% include start %>
<div class="home">
	<section class="section blue section-xlarge">
		<div class="background-media">
			<!--<img src="/images/home-banner.png" class="bg blur">-->
		</div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row small-margin-bottom">
				<div class="col-lg-6">
					<header class="section-header home landing-text underline underline-left underline-landing">
						<h1 class="headline text-large hairline landing-text">Chris Rayment</h1>
						<p class="get-smaller">Business Professional. Enthusiast<br> All around great guy</p>
					</header>
					<div class="row landing-ctas">
						<div class="col-lg-12 small-margin-bottom">
							<a title="Contact Info" href="#">
								<button class="cta2 contact blue1" data-toggle="modal" data-target="#contactInfoModal"></button>
							</a>
							<!--<a title="Contact Info" href="#">
								<button class="cta2 contact blue2 xsmall-margin-left" data-toggle="modal" data-target="#contactInfoModal"></button>
							</a>-->
						</div>
					</div>
				</div>
				<div class="col-lg-6 text-center animated fadeInRight"> <!-- animated fadeInRight -->
					<img class="landing-image" src="/images/macbook-header.png" alt="Custom roadmap software">
				</div>
			</div>
		</div>
	</section>
	<article>
		<section id ="skills" class="section section-companies red has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container skill">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">Skills</h1>
				</header>
				<div class="row medium-margin-top">
					<div class="col-lg-10 center">
						<div id="feature_1_text" class="col-md-7">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Business</h1>
								<p class="body-subheader features">Currently studing Commerce at Queen's University Chris is well depthed in the world of business. Chris has competed in the Queen's Business Conference for three continuous years. Chris also has garnered business knowledge from:</p>
								<ul>
									<li>Donec eu lectus ultrices, maximus ipsum eu, aliquet augue.</li>
									<li>Donec eu lectus ultrices, maximus ipsum eu, aliquet augue. </li>
									<li>Donec eu lectus ultrices, maximus ipsum eu, aliquet augue. </li>
								</ul>
							</header>
						</div>
						<div id="feature_1_img" class="col-md-4 features-right features-text-right feature-img">
							<img src="/images/utensils.svg" width="300" height="300" alt="Design">
						</div>
					</div>
				</div>
				<!--<div class="row xsmall-margin-top">
					<div class="col-lg-10 center">
						<div id="feature_2_text" class="col-md-7 features-right">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Development</h1>
								<p class="body-subheader features">Current studying for a degree in Honours Computer Science Brent is immersed in a development environment day in an day out. Other than work experience discussed in Brent's r&#233;sum&#233;, here are some of his side projects&#58;</p>
								<ul>
									<li>
										<a href="http://easybadge.herokuapp.com/">
											EasyBadge
										</a>via PHP
									</li>
									<li>
										<a href="http://labs.schybo.com/roygbiv/">Roygbiv</a>
										&#38;
										<a href="http://labs.schybo.com/blur/">Blur</a>
										via NodeJS, Javascript &#38; CSS3</li>
									<li><a href="https://github.com/bscheibe/cacheController">CacheController</a> via BASH</li>
								</ul>
							</header>
						</div>
						<div id="feature_2_img" class="col-md-4 features-text-left feature-img">
							<img src="/images/development.svg" width="300" height="300" alt="Developement">
						</div>
					</div>
				</div>
				<div class="row xsmall-margin-top">
					<div class="col-lg-10 center">
						<div id="feature_3_text" class="col-md-7">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">SEO &#38; Marketing</h1>
								<p class="body-subheader features">Both of Brent's co-ops, as well as his freelance work, feature marketing driven aspects. Brent has learned the expanse of web driven marketing, from email drops to SEO. Brent can help with:</p>
								<ul>
									<li>Intelligent funnel campaigns set up from experience</li>
									<li>Harnessing the power of social media to engage customers</li>
									<li>Email drops, targeted advertisement, copy writing &#38; search engine optimization</li>
									<li>Analytics - especially Google Analytics and KISSMetrics</li>
								</ul>
							</header>
						</div>
						<div id="feature_3_img" class="col-md-4 features-right features-text-right feature-img">
							<img src="/images/bullet.svg" width="300" height="300" alt="SEO and Marketing">
						</div>
					</div>
				</div>
			</div>-->
		</section>
		<!--<section id="companies" class="section section-companies green has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">Companies</h1>
				</header>
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="companies">
							<div class="company small-margin-top">
								<a title="Roadmunk" href="https://www.roadmunk.com">
									<img src="/images/logos/roadmunk-logo.png" width="300px" alt="Roadmunk">
								</a>
							</div>
							<div class="company small-margin-top">
								<a title="Salesforce Work.com" href="http://www.work.com">
									<img src="/images/logos/w-logo.png" width="300px" alt="Salesforce Work.com">
								</a>
							</div>
							
							<div class="company small-margin-top">
								<a title="Blueprint Coaching" href="http://www.blueprintcoaching.ca">
									<img src="/images/logos/bc-logo.png" width="300px" alt="Blueprint Coaching">
								</a>
							</div>

							<div class="company small-margin-top">
								<a title="Martin Verdugos Beach Resort" href="http://www.verdugosbeachresort.com/">
									<img src="/images/logos/mc-logo.png" width="300px" alt="Martin Verdugos Beach Resort">
								</a>
							</div>

							<div class="company small-margin-top">
								<a title="Bake Sale" href="http://www.bakesaletoronto.com/">
									<img src="/images/logos/bs-logo.png" width="150px" alt="Bake Sale">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>-->
		<section id="testimonials" class="section section-normal purple has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large xsmall-margin-bottom hairline">Testimonials</h1>
				</header>
				<blockquote id="testimonial1" class="fancy-blockquote  transparent">
					<div class="row small-margin-bottom">
						<div class="col-md-2">
							<div class="box-round box-huge">
								<div class="box-dummy"></div>
								<div class="box-inner">
									<a href="https://www.linkedin.com/profile/view?id=259895209">
										<img src="/images/brent.jpg" alt="Brent Scheibelhut">
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<p>Chris is a solid chap. He works hard. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lectus ultrices, maximus ipsum eu, aliquet augue. Phasellus rutrum viverra velit, ac pharetra nisi ullamcorper non. Aliquam eu est rhoncus, imperdiet nisl sed, pretium metus. In luctus nec elit vitae tincidunt. Donec tincidunt, est a malesuada feugiat, massa lorem rhoncus purus, ut vulputate arcu tortor a elit.</p>
							<small>Brent Scheibelhut,</small>
							<small>Full Stack Developer, Careerify</small>
						</div>
					</div>
				</blockquote>
			</div>
		</section>
		<!--
		<section class="section section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container-fluid">
				<header class="section-header text-center underline medium-margin-bottom">
					<h1 class="headline text-medium hairline xsmall-margin-bottom">Roadmaps Of All Types</h1>
				</header>
				<div class="row">
					<div class="col-md-10 center">
						<div class="row">
							<div class="col-md-8">
								<div class="browser">
									<img class="bg" src="/images/browser-roadmunk.jpg">
									<img id="sprintImg" class="screen selected-img" src="/images/sprint-roadmap.png" itemprop="screenshot" alt="Sprint Product Roadmap">
									<img id="projectImg" class="screen" src="/images/project-roadmap.png" alt="Project Roadmap for Product Managers">
									<img id="releaseImg" class="screen" src="/images/release-roadmap.png" alt="Release Roadmap">
								</div>
							</div>
							<div class="col-md-4">
								<ul class="list-unstyled feature-controls">
									<li id="sprint" class="selected">
										<span >
											<div class="roadmap-icon sprint">
												<span class="glyphicon glyphicon-flash"></span>
											</div>
											<span class="info">
												<h3>Sprint Roadmap</h3>
												<p class="callout">Create your short term roadmap to visualize your upcoming sprints</p>
											</span>
										</a>
									</li>
									<li id="project">
										<span>
											<div class="roadmap-icon project">
												<span class="glyphicon glyphicon-briefcase"></span>
											</div>
											<span class="info">
												<h3>Project Roadmap</h3>
												<p class="callout">Provide vital status updates to your stakeholders</p>
											</span>
										</a>
									</li>
									<li id="release">
										<span>
											<div class="roadmap-icon release">
												<span class="glyphicon glyphicon-globe"></span>
											</div>
											<span class="info">
												<h3>Release Roadmap</h3>
												<p class="callout">Plan out your long term releases across multiple product lines</p>
											</span>
										</span>
									</li>
								</ul>
								<div class="row">
									<div class="col-md-10 xsmall-margin-top small-margin-bottom center">
										<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
											<div class="cta small-cta center"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-short has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container-fluid features">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">Features</h1>
				</header>
				<div class="row">
					<div class="col-md-10 center">
						<div class="row">
							<ul class="list-unstyled row image-list">
								<li class="col-md-3 small-margin-top">
									<img src="/images/binder.svg" width="225" height="225" alt="Slick Tools to help create perfect product roadmap">
									<h3 class="text-center font-normal">Idea Management</h3>
									<div class="col-sm-10 center">
										<p class="callout">Import, create and priortize items in a slick UI.</p>
									</div>
								</li>
								<li class="col-md-3 small-margin-top">
									<img src="/images/microscope.svg" width="225" height="225" alt="Custom Roadmap View with drag and drop tools">
									<h3 class="text-center font-normal">Custom Roadmap Views</h3>
									<div class="col-sm-10 center">
										<p class="callout">Single-click creation and powerful drag-and-drop tools.</p>
									</div>
								</li>
								<li class="col-md-3 small-margin-top">
									<img src="/images/utensils.svg" width="225" height="225" alt="Custom software with branding tools for product roadmaps">
									<h3 class="text-center font-normal">Color Palettes &#38; Branding</h3>
									<div class="col-sm-10 center">
										<p class="callout">Create the deep impact on your audience.</p>
									</div>
								</li>
								<li class="col-md-3 small-margin-top">
									<img src="/images/bullet.svg" width="225" height="225">
									<h3 class="text-center font-normal">Fit to PowerPoint</h3>
									<div class="col-sm-10 center">
										<p class="callout">Stop moving pixels around on a slide. Export directly to PowerPoint.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
					<div class="col-md-10 small-margin-top xsmall-margin-bottom center">
						<a title="Learn more about Roadmunk" href="/features">
							<div class="cta learn-more center"></div>
						</a>
					</div>
				</div>
				</div>
			</div>
		</section>-->
		<section class="section section-map has-top">
			<section id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>
					<p>Chris Rayment, 20 Princeton Road, Etobicoke, ON, M8X 2E2</p>
				</address>
			</section>
		</section>
		<!--<section class="section section-normal yellow has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-medium hairline">Interested in Brent's Projects?</h1>
					<p class="get-smaller">Sign up below to get email updates of all his new releases</p>
				</header>
				<div class="row">
					<div class="col-sm-6 center">
						<form id="subscribe" action='/lists/b966edb789/subscribe/' method='post'>
							  <input id="email" name="email" type="email" class="form-control input-lg subscribe text-center" placeholder="Enter email address" required>
							  <button type="submit" class="cta2 yellow subscribe"></button>
						</form>
						<p id="successMessage" class="text-success text-xsmall text-center xsmall-margin-top"></p>
						<p id="errorMessage" class="text-warning text-xsmall text-center xsmall-margin-top"></p>
					</div>
				</div>
			</div>
		</section>-->
		<!--<section class="section section-short has-top">
			<div class="decor-top">
				<% include ./partials/top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large xsmall-margin-bottom hairline">Our Clients</h1>
				</header>
				<div class="row medium-margin-bottom">
					<div class="col-md-12">
						<ul class="list-unstyled row image-list">
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>-->
		<!--<section class="section section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-medium hairline">See Roadmunk In Action</h1>
					<p class="get-smaller">Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
				</header>
				<div class="row">
					<div class="col-lg-12 xsmall-margin-top">
						<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
							<div class="cta general center"></div>
						</a>
					</div>
				</div>
			</div>
		</section>-->
	</article>
</div>
<% include end %>
