<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample 16</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/stylesheets/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>

        <div class="page-wrapper">
            <!-- header-9 -->
            <header class="header-9">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#"><span class="fui-cmd"> </span></a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav">
                                    <li class="active"><a href="#">UPCOMING EVENTS</a></li>
                                    <li><a href="#">SUBSCRIPTIONS</a></li>
                                    <li><a href="#">WORK</a></li>
                                    <li><a href="#">BLOG</a></li>
                                    <li><a href="#">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="header-9-sub">
                <div class="background">&nbsp;</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="hero-unit bordered">
                                <p class="wide-text">Chris Rayment</p>
                            </div>
                            <p class="wide-text text-warning">business professional</p>
                        </div>
                    </div>
                    <div class="nav-steps">
                        <a href="#" class="active">HOME PAGE</a>
                        <div class="steps-selectors">
                            <a href="#" class="active">/</a>
                            <a href="#">/</a>
                            <a href="#">/</a>
                            <a href="#">/</a>
                        </div>
                        <a href="#">UPCOMING EVENTS</a>
                    </div>
                </div>
            </section>

            <!-- content-14 -->
          <section class="content-14 v-center">
            <div>
              <div class="container">
                <h3>Startup Framework</h3>
                <p class="lead">You have the design, you have the code</p>
                <div class="row features">
                  <div class="col-sm-2">
                    <div class="box-1">
                      <h6>Money</h6>
                        Startups can save money on design and code and spend it on concept and functionality.
                    </div>
                    <div class="box-2">
                      <h6>Retina Ready</h6>
                        Startup Framework works fine on devices supporting Retina Display.
                    </div>
                    <div class="box-3">
                      <h6>Easy to use</h6>
                        To get started, you select the desired sample and base the entire website on it.
                    </div>
                    <div class="box-4">
                      <h6>User Guide</h6>
                        You’ll get a description of each component and learn how to connect and use them.
                    </div>
                  </div>
                  <div class="col-sm-6 col-sm-offset-1">
                    <img src="images/page.png" alt="">
                  </div>
                  <div class="col-sm-2 col-sm-offset-1">
                    <div class="box-5">
                      <h6>Save Your Time</h6>
                        Use your time for generating new ideas for your startup.
                    </div>
                    <div class="box-6">
                      <h6>Responsive Layout</h6>
                        Of course we haven’t forgotten about the responsive layout.
                    </div>
                    <div class="box-7">
                      <h6>Clear Grid</h6>
                        Components fixed to 12 Grid system. It allows you to find understanding between the designer and developer.
                    </div>
                    <div class="box-8">
                      <h6>Video Tutorials</h6>
                        Video tutorials show you how to make a site from design to code.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/modernizr.custom.js"></script>
        <script src="/javascripts/jquery.parallax.min.js"></script>
        <script src="/javascripts/startup-kit.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>